<div class="certificates">
    <h2>СЕРТИФИКАТЫ И НАГРАДЫ</h2>
    <div class="container">
        <div class="row">
            <div class="js-certificates">
                <div class="certificates__item">
                    <img src="img/certificates.png" alt="">
                </div>
                <div class="certificates__item">
                    <img src="img/certificates.png" alt="">
                </div>
                <div class="certificates__item">
                    <img src="img/certificates.png" alt="">
                </div>
                <div class="certificates__item">
                    <img src="img/certificates.png" alt="">
                </div>
                <div class="certificates__item">
                    <img src="img/certificates.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>