<div class="contacts">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="contacts__item location">
                    Республика Казахстан, 010000
                    г. Астана, ул. Жанажол, 4
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a class="contacts__item phone" href="tel:+77476760549">+7 747 676 05 49</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a class="contacts__item email" href="emailto:info@kovka5.kz">info@kovka5.kz</a>
            </div>


        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="contacts__item schedule">
                    Режим работы:
                    Пн - Сб с 09:00 до 20:00
                </div>
            </div>
        </div>
    </div>


    <div class="contacts__map">
        <img src="img/map.png" alt="">
    </div>
</div>