<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h4>© BIG ELEPHANT GROUP</h4>
                <p class="footer__p">Наш банкетный зал находится в&nbsp;удобном месте в&nbsp;дали от&nbsp;суеты большого города, где вы&nbsp;сможете
                    отметить свою торжественную дату или мероприятие не&nbsp;задумываясь ни&nbsp;о&nbsp;чем. Красивый
                    интерьер и&nbsp;вкусная кухня не&nbsp;оставят ваших гостей равнодушными.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h4>КОНТАКТЫ</h4>

                <p><b>Адрес:</b><br>
                    г. Астана, 010000, ул. Жанажол, 4</p>

                <p><b>Телефон:</b><br>
                    +7 747 676 05 49</p>

                <p><b>Электронная почта:</b><br>
                    <a href="mailto:bigelephant5@yandex.kz">bigelephant5@yandex.kz</a></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h4>МЫ В СОЦИАЛЬНЫХ СЕТЯХ</h4>
                <a class="footer__social" href="#"><img src="img/fb.svg" alt=""></a>
                <a class="footer__social" href="#"><img src="img/inst.svg" alt=""></a>
                <a class="footer__social" href="#"><img src="img/vk.svg" alt=""></a>
                <a class="footer__social" href="#"><img src="img/youtube.svg" alt=""></a>
                <br>
                <br>
                <h4>МЫ ПРИНИМАЕМ К ОПЛАТЕ</h4>
                <div class="accept-payment">
                    <div class="accept-payment__item">
                        <img src="img/visa.svg" alt="">
                    </div>
                    <div class="accept-payment__item">
                        <img src="img/mastercard.svg" alt="">
                    </div>
                    <div class="accept-payment__item">
                        <img src="img/maestro.svg" alt="">
                    </div>
                    <div class="accept-payment__item">
                        <img src="img/american-express.svg" alt="">
                    </div>
                    <div class="accept-payment__item">
                        <img src="img/unionpay.svg" alt="">
                    </div>
                    <div class="accept-payment__item">
                        <img src="img/western-union.svg" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>