<section class="main-catalog">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <a href="#" class="main-catalog__item">
                    <div class="main-catalog__img">
                        <img src="img/main-catalog-1.png" alt="">
                    </div>
                    <span class="main-catalog__name">КАТАЛОГ КОВАНЫХ ИЗДЕЛИЙ</span>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="#" class="main-catalog__item">
                    <div class="main-catalog__img">
                        <img src="img/main-catalog-2.png" alt="">
                    </div>
                    <span class="main-catalog__name">КАТАЛОГ МЕБЕЛИ С ЭЛЕМЕНТАМИ КОВКИ</span>
                </a>
            </div>
        </div>
    </div>
</section>