<section class="now">
    <h2>ПОСЛЕДНИЕ НОВИНКИ КАТАЛОГА</h2>
    <div class="container">
        <div class="row">
            <div class="now__inner js-now">
                <div class="now__item">
                    <div class="now__img"><img src="img/now-img.png" alt=""></div>
                    <div class="now__txt">
                    <div class="now__name">ДЕКОРАТИВНАЯ БАЛКОННАЯ РЕШЕТКА ПОД ВАШ РАЗМЕР</div>
                    <button class="now__btn">ЗАКАЗАТЬ</button>
                    </div>
                </div>
                <div class="now__item">
                    <div class="now__img"><img src="img/now-img.png" alt=""></div>
                    <div class="now__txt">
                        <div class="now__name">ДЕКОРАТИВНАЯ БАЛКОННАЯ РЕШЕТКА ПОД ВАШ РАЗМЕР</div>
                        <button class="now__btn">ЗАКАЗАТЬ</button>
                    </div>
                </div>
                <div class="now__item">
                    <div class="now__img"><img src="img/now-img.png" alt=""></div>
                    <div class="now__txt">
                        <div class="now__name">ДЕКОРАТИВНАЯ БАЛКОННАЯ РЕШЕТКА ПОД ВАШ РАЗМЕР</div>
                        <button class="now__btn">ЗАКАЗАТЬ</button>
                    </div>
                </div>
                <div class="now__item">
                    <div class="now__img"><img src="img/now-img.png" alt=""></div>
                    <div class="now__txt">
                        <div class="now__name">ДЕКОРАТИВНАЯ БАЛКОННАЯ РЕШЕТКА ПОД ВАШ РАЗМЕР</div>
                        <button class="now__btn">ЗАКАЗАТЬ</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>