<div class="partners">
    <h2>НАШИ ПАРТНЕРЫ</h2>
    <div class="container">
        <div class="row">
            <div class="partners__inner js-partners">
                <div class="partners__item"><img src="img/slider.png" alt=""></div>
                <div class="partners__item"><img src="img/slider.png" alt=""></div>
                <div class="partners__item"><img src="img/slider.png" alt=""></div>
                <div class="partners__item"><img src="img/slider.png" alt=""></div>
                <div class="partners__item"><img src="img/slider.png" alt=""></div>
                <div class="partners__item"><img src="img/slider.png" alt=""></div>
                <div class="partners__item"><img src="img/slider.png" alt=""></div>
                <div class="partners__item"><img src="img/slider.png" alt=""></div>
            </div>
        </div>
    </div>
</div>