<div class="slider">
    <div class="container">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="img/slider.png" alt="" />
                        <div class="carousel-caption">ИЗГОТОВЛЕНИЕ КОВАНЫХ ИЗДЕЛИЙ В АСТАНЕ ЛЮБОЙ СЛОЖНОСТИ</div>
                    </div>
                    <div class="item">
                        <img src="img/slider.png" alt="" />
                        <div class="carousel-caption">ИЗГОТОВЛЕНИЕ КОВАНЫХ ИЗДЕЛИЙ В АСТАНЕ ЛЮБОЙ СЛОЖНОСТИ</div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>