<div class="testimonials">
    <h2>ОТЗЫВЫ ДОВОЛЬНЫХ КЛИЕНТОВ</h2>
    <div class="container">
        <div class="row">
            <div class="testimonials__item col-lg-4 col-md-4 col-sm-12">
                <div class="testimonials__img">
                    <img src="img/testimonials.jpg" alt="">
                </div>
                <p>Спасибо сайту kovka5.kz. Быстро связались, за&nbsp;2 дня набросали красивый эскиз ворот, сделали еще
                    быстрее чем нарисовали, результатом остался очень доволен, качество покраски и&nbsp;металла
                    достойное, цена не&nbsp;самая низкая, но&nbsp;дешевле чем у&nbsp;многих других. Спасибо, буду еще
                    обращаться, подумываю сделать мангал и&nbsp;беседку.</p>
                <p><b>Ерлан Идрисов, предприиматель</b></p>
            </div>
            <div class="testimonials__item col-lg-4 col-md-4 col-sm-12">
                <div class="testimonials__img">
                    <img src="img/testimonials.jpg" alt="">
                </div>
                <p>Спасибо сайту kovka5.kz. Быстро связались, за&nbsp;2 дня набросали красивый эскиз ворот, сделали еще
                    быстрее чем нарисовали, результатом остался очень доволен, качество покраски и&nbsp;металла
                    достойное, цена не&nbsp;самая низкая, но&nbsp;дешевле чем у&nbsp;многих других. Спасибо, буду еще
                    обращаться, подумываю сделать мангал и&nbsp;беседку.</p>
                <p><b>Ерлан Идрисов, предприиматель</b></p>
            </div>
            <div class="testimonials__item col-lg-4 col-md-4 col-sm-12">
                <div class="testimonials__img">
                    <img src="img/testimonials.jpg" alt="">
                </div>
                <p>Спасибо сайту kovka5.kz. Быстро связались, за&nbsp;2 дня набросали красивый эскиз ворот, сделали еще
                    быстрее чем нарисовали, результатом остался очень доволен, качество покраски и&nbsp;металла
                    достойное, цена не&nbsp;самая низкая, но&nbsp;дешевле чем у&nbsp;многих других. Спасибо, буду еще
                    обращаться, подумываю сделать мангал и&nbsp;беседку.</p>
                <p><b>Ерлан Идрисов, предприиматель</b></p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="#" class="testimonials__btn">СМОТРЕТЬ ВСЕ ОТЗЫВЫ</a>
            </div>
        </div>
    </div>
</div>