.navbar-default{
	box-shadow: none;
	background-color: #75442A;
	background-image: url("../img/nav.png");
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	.nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
		li{
			width: auto;
		}
		a{
			color: #fff;
			font-size: 18px;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
			padding: 13px 15px;
			&:hover{
				background-color: #fff;
				color: #75442A;
			}
		}
	}
}
.navbar-collapse{
	background-color: transparent;
	height: 100%;
	padding: 0;
}